# ignore all make dependency files and linux object binaries
*.d
*.o
bin/

# ignore all the windows binaries - they shouldn't be committed! 
Debug/
Release/
baseq2/
.vs/
*.log
*.ncb
*.opt
*.plg
*.suo
*.user
*.aps
*.clw
*.pdb
*.ilk
kmq2gamex86.dll
kmquake2.exe
*.vc.db
*.vc.opendb